@charset "utf-8";

@font-face {
	src: local("Roboto"), url("/fonts/roboto.woff2");
	font-family: "Roboto";
	font-display: swap;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	line-height: 1.5;
	font-size: 14pt;
	font-family: "Roboto", sans-serif;
	color: #000000;
	background: #EFEFEF;
}

.page-wrapper {
	flex-grow: 1;
	min-width: 0;
	max-width: 30em;
	padding: 1em 2em;
	padding-bottom: 1.25em;
	margin: 1em 0;
	border-radius: 8px;
	background: #FFFFFF;
	box-shadow: 2px 4px 8px #0000003F;
}

a {
	text-decoration: inherit;
	color: #3F51B5;
}

a:hover {
	text-decoration: underline;
}

form > *:first-child {
	margin-top: 0;
}
form > *:last-child {
	margin-bottom: 0;
}

.logo {
	margin: 0;
}

.logo > a {
	color: inherit;
}

h2 {
	margin: 1em 0;
	font-size: 1em;
}

#upload-area {
	padding: 4em 2em;
	user-select: none;
	text-align: center;
	border: dashed 2px #0000001F;
	border-radius: 8px;
	color: #0000007F;
	background: #0000000F;
}

input, textarea, select, button {
	font-family: inherit;
	font-size: inherit;
	border-radius: 4px;
}

input, textarea, select {
	padding: 0.25em 0.5em;
	border: solid 2px #0000003F;
	color: inherit;
	background: #FFFFFF;
}

input:focus, textarea:focus, select:focus {
	outline: none;
	box-shadow: 0 0 0 3px #3F51B57F;
}

textarea {
	min-height: 5em;
}

button {
	display: block;
	width: 100%;
	padding: calc(0.25em + 2px) calc(0.5em + 2px);
	border: none;
	color: #FFFFFF;
	background: #3F51B5;
}
button.bad {
	background: #F44336;
}

button:active {
	background: #1A237E;
}
button.bad:active {
	background: #B71C1C;
}

label {
	display: flex;
	flex-wrap: wrap;
	margin: 1em 0;
}

label > input, label > textarea, label > select {
	flex-grow: 1;
}

.label {
	display: inline-block;
	min-width: 7em;
}

.file-holder {
	display: flex;
	margin: 1em 0;
}

.file-holder .icon {
	margin-right: 0.5em;
	font-size: 2em;
}

.file-holder .metadata {
	margin-top: 0.5em;
}

footer {
	margin-top: 1rem;
	font-size: 0.75em;
}

footer > * {
	margin-right: 0.5em;
}
